<div class="profile">
    <section id="wrapper">
        <header id="header">
        	{{#if profile_image}}
	            <a href="{{url}}">
	                <img id="avatar" src="{{img_url profile_image}}" alt="{{name}}" />
	            </a>
            {{/if}}
            <h1>{{name}}</h1>
            <h2>{{bio}}</h2>
        </header>
    </section>
</div>
